.toggle {
    display: inline-block;
    position: relative;
}

.toggle__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.toggle__state {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.toggle__control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 3.25em;
    height: 1.75em;
    border: 1px solid #ACB5BDFF;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.toggle__icon {
    box-sizing: border-box;
    position: relative;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    left: 0;
    transform: scale(0.9);
    background: #ACB5BDFF;
    transition: left 0.5s ease, background-color 0.5s ease;
}

.toggle__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #818C98FF;
}

.toggle__input:checked ~ .toggle__state .toggle__control {
    background: #4263EBFF;
    border: 1px solid #4263EBFF;
    align-items: center;
}

.toggle__input:checked ~ .toggle__state .toggle__icon {
    background: #ffff;
    left: 1.625em;
}

.toggle__input:disabled ~ .toggle__state .toggle__control {
    cursor: auto;
    background: #666768FF;
    border: 1px solid #666768FF;
}

.toggle__input:disabled ~ .toggle__state .toggle__icon {
    background: #ACB5BDFF;
    opacity: 0.25;
}

.toggle__input:focus ~ .toggle__state .toggle__title {
    text-decoration: underline;
}


.toggle__theme-icon, .toggle__input:checked ~ .toggle__theme-icon_sun {
    width: 1.5em;
    height: 1.5em;
    color: #bdacaf;
}

.toggle__input:checked ~ .toggle__theme-icon_moon {
    color: #ffff;
}

.toggle__input ~ .toggle__theme-icon_sun {
    color: #f9f9f9
}

.toggle_main-page {
    width: 100%;
    gap: 15px;
    display: inline-flex;
    justify-content: flex-end;

}
