* {
  margin: 0;
  padding: 0;

  border: 0;
}

body {
  width: 100%;
  height: 100%;

  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgd {
  background: radial-gradient(#b0c9d7, #3a5d70);
}

.btn-uno {
  display: none;
  width: 70px;
  height: 50px;
  position: absolute;
  margin: auto;
  right: 300px;
  z-index: 2;
  color: white;
  font-family: 'Serif';
  font-weight: 600;
  font-style: normal;
  background: #3a5d70;
  border-radius: 5px;
}
.btn-uno_active {
  display: block;
}
